#Gitignore -> jetbrains scala java 
*.eml
*.iml
*.ipr
*.iws
.cache
.eclipse
.history
.idea/
.idea_modules/
/*.iml
/.classpath
/.idea
/.idea_modules
/.project
/.settings
/RUNNING_PID
/db
/dist/
/lib/
/logs/
/modules
/out
/project/project
/project/target
/target
atlassian-ide-plugin.xml
bin/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
dist
logs
out/
project/project
project/target
server.pid
target
test-result
tmp
tmp/
